# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 180

[*.{html,css,scss,less,js,jsx,ts,tsx,json,xml,vue,wpy}]
indent_size = 2

[*.{config,props}]
indent_size = 2

[*.{cs,cshtml,csproj,sln}]
charset = utf-8-bom

[*.{diff,md}]
max_line_length = off
trim_trailing_whitespace = false

[*.csproj]
indent_size = 2
